<meta charset="utf-8"/>
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-10 text-left">
                            <img class="img-rounded text-left img_inst " height="60" width="60" src="../img/santa_casa.gif"/> 
                            &nbsp;
                            <a class="nome_inst" href="#"> Santa Casa de Pelotas </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a class="amigo" href="#"> 
                                <img src="../img/carol.png" class="img-circle img_amigo" height="55" width="55" alt="Carol"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 " data-toggle="collapse" data-target="#camp1">
                        <img class="thumbnail img-responsive img_camp" height="180" width="430" src="../img/campanha1.jpg"/> 
                    </div>
                    <div id="camp1" class="col-sm-12 collapse">
                        <p class="text-justify"> Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                            Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                            Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                        </p>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="text-left">
                        <i class="fa fa-users" aria-hidden="true">&nbsp;</i><span class="badge">80</span>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-money" aria-hidden="true"></i> Colaborar </button>
                        <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Curtir </button>
                        <button type="button" class="btn btn-xs btn-success"><i class="fa fa-share-alt" aria-hidden="true"></i> Compartilhar </button>
                    </div>

                </div>
            </div>
        </div>
    </div> 
    
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-10 text-left">
                            <img class="img-rounded text-left img_inst " height="60" width="60" src="../img/nossa_senhora.png"/> 
                            &nbsp;
                            <a class="nome_inst" href="#"> Instituto Nossa Senhara da Conceição </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a class="amigo" href="#"> 
                                <img src="../img/rick.jpg" class="img-circle img_amigo" height="55" width="55" alt="Rick"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 " data-toggle="collapse" data-target="#camp2">
                        <img class="thumbnail img-responsive img_camp" height="180" width="430" src="../img/campanha2.png"/> 
                    </div>
                    <div id="camp2" class="col-sm-12 collapse">
                        <p class="text-justify"> Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                            Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                            Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                        </p>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="text-left">
                        <i class="fa fa-users" aria-hidden="true">&nbsp;</i><span class="badge">80</span>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-money" aria-hidden="true"></i> Colaborar </button>
                        <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Curtir </button>
                        <button type="button" class="btn btn-xs btn-success"><i class="fa fa-share-alt" aria-hidden="true"></i> Compartilhar </button>
                    </div>

                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-10 text-left">
                            <img class="img-rounded text-left img_inst " height="60" width="60" src="../img/fundap.png"/> 
                            &nbsp;
                            <a class="nome_inst" href="#"> Fundação de Amparo à Doença e à Pobreza  </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a class="amigo" href="#"> 
                                <img src="../img/glenn.jpg" class="img-circle img_amigo" height="55" width="55" alt="Glenn"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 " data-toggle="collapse" data-target="#camp3">
                        <img class="thumbnail img-responsive img_camp" height="180" width="430" src="../img/prevencao2.jpg"/> 
                    </div>
                    <div id="camp3" class="col-sm-12 collapse">
                        <p class="text-justify"> Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                            Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                            Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
                        </p>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="text-left">
                        <i class="fa fa-users" aria-hidden="true">&nbsp;</i><span class="badge">80</span>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-money" aria-hidden="true"></i> Colaborar </button>
                        <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Curtir </button>
                        <button type="button" class="btn btn-xs btn-success"><i class="fa fa-share-alt" aria-hidden="true"></i> Compartilhar </button>
                    </div>

                </div>
            </div>
        </div>
    </div> 