
<ul>
  <li th:each="inst : ${instituicoes}" style=" list-style: none;"> 
  	 <div class="row">
		<div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-10 text-left" data-toggle="collapse"  th:attr="data-target='#'+${inst.getIdinstituicao()}">
                                <img class="img-rounded text-left img_inst " height="60" width="60" th:attr="src='./img/instituicoes/'+${inst.getIdinstituicao()}+'.gif'"/> 
                                &nbsp;
                                <span th:text="${inst.nomeFantasia}"></span>
                               
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 " >
                            <div th:attr="id=${inst.getIdinstituicao()}" class="col-sm-12 collapse text-justify">
                                <h4 style="font-weight: bold;"> Contato </h4>
                                <h5> Endereço: </h5>
                                <h5> E-mail: </h5>
                                <h4 style="font-weight: bold;"> Ranking </h4>
<!--                                 <h5>Campanhas: <span th:text="${cont}"></span></h5> -->
                                <h5>Colaboradores: 3000</h5>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="panel-footer">
                        <div class="text-left">
                            <i class="fa fa-users" aria-hidden="true">&nbsp;</i><span class="badge">80</span>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-money" aria-hidden="true"></i> Colaborar </button>
                            <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Curtir </button>
                            <button type="button" class="btn btn-xs btn-success"><i class="fa fa-share-alt" aria-hidden="true"></i> Compartilhar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
  </li>
</ul>

   