<ul>
	<li th:each="camp : ${campanhas}" style="list-style: none;">
		<div class="col-sm-9">
			<div class="row">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-10 text-left">
										<img class="img-rounded text-left img_camp " height="60"
											width="60"
											th:attr="src='./img/instituicoes/'+${camp.getIdInstituicao().idInstituicao}+'.gif'" />
										&nbsp; <a class="nome_inst" href="#"
											th:text="${camp.idInstituicao.nomeFantasia}"></a>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="col-sm-12 " data-toggle="collapse"
									th:attr="data-target='#'+${camp.getIdCampanha()+'Collape'}">
									<div class="col-sm-12 nome_camp">
										<span class=" text-center" th:text="${camp.nome}"></span>
										<span class="text-right pull-right" align="right" th:text="|Total Arecadado: ${camp.credito}|">
											</span>
										<br/>
									</div>
									<div class="col-sm-12">
										<img class="thumbnail img-responsive img_camp" height="180"
											width="430"
											th:attr="src='./img/campanhas/'+${camp.getIdCampanha()}+'.jpg'" />
											<br/>
									</div>
									<div th:attr="id=${camp.getIdCampanha()+'Collape'}"
										class="col-sm-12 collapse">
										<p class="text-justify" th:text="${camp.descricao}"></p>
									</div>
								</div>

								<div class="panel-footer">
									<div class="text-left">
										<i class="fa fa-users" aria-hidden="true">&nbsp;</i><span
											class="badge">80</span>
									</div>
									<div class="text-right">
										<button type="button" class="btn btn-xs btn-danger" data-toggle="modal" th:attr="data-target='#'+${camp.getIdCampanha()+'Modal'}">
											<i class="fa fa-money" aria-hidden="true"></i> Colaborar
										</button>
										<button type="button" class="btn btn-xs btn-primary">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Curtir
										</button>
										<button type="button" class="btn btn-xs btn-success">
											<i class="fa fa-share-alt" aria-hidden="true"></i>
											Compartilhar
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div layout:include="./colaboracao/colaboracao"></div>
	</li>
</ul>