<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="header">

<meta charset="utf-8" />

<div class="container">

	<!-- Modal -->
	<div class="modal fade colModal" th:attr="id=${camp.getIdCampanha()+'Modal'}" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Parabéns!</h4>
					<h4 th:text="'Você está prestes a Colaborar com a campanha '+${camp.nome}+'.'"></h4>
					
				</div>
				<form th:attr="id=${camp.getIdCampanha()+'Form'}" method="POST" action="#">
									
					<div id="valor" class="form-group required">
						<label for="valor" class="control-label col-sm-4  requiredField">
							Valor </label>
						<div class="controls col-sm-12 text-center" th:attr="id=${camp.idCampanha}">
							<input class="input-md form-control requiredField colaboracao"
								th:attr="id=${camp.idCampanha}+'colaboracao'" name="colaboracao" placeholder="R$"
								style="margin-bottom: 10px" type="text" />
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<div class="controls col-sm-12 ">
						<div class="form-group text-center">
							<button type="submit" class="btn btn-success " th:attr="onclick='colaborarget('+${camp.idCampanha}+')'">Colaborar</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>