<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="header">
	
	<head>
		<title>Instituições</title>
	</head>
	
	<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Títulos</h1>
					<a class="btn btn-link aw-link-panel" th:href="@{/instituicao/novo}">Novo Titulo</a>
				</div>
			</div>
			<div class="panel-body">
				<form method="GET" class="form-horizontal" th:action="@{/instituicao}" th:object="${filtro}">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<input class="form-control" placeholder="Qual titulo você esta procurando?"
									autofocus="autofocus" th:field="*{descricao}"/>
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</form>
				<div class="table-responsive">
				<table class="table table-bordered table striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">cnpj</th>
							<th>Rasão Social</th>
							<th class="text-center col-md-2">Nome Fantasia</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="instituicao : ${instituicoes}">
							<td class="text-center" th:text="${instituicao.cnpj}"></td>
							<td th:text="${intituicao.rasaoSocial}"></td>
							<td class="text-center" th:text="${{titulo.nomeFantasia}}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/instituicao/{cnpj}(codigo=${instituicao.cnpj})}"
									title="Editar" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
									th:attr="data-cnpj=${instituicao.codigo}, data-rasaoSocial=${instituicao.rasaoSocial}"
										title="Exluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhuma instituição foi encontrado</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
			<div layout:include="DialogoConfirmacaoExclusao"></div>
		</div>
	</section>
</html>