/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2017, 21:09:06
    Author     : Jones
*/
.titulo{
    font-family: "Open Sans";
    color:coral;
    text-decoration:none; 
    font-size: 120%;
}

.titulo:hover{
    text-decoration:none;
    color: #D0DAAF;
    font-weight: bold;
}

.titulo:link{
    text-decoration:none; 
}

.nome{
    padding: 2%;
}

.watch {
    display: inline-block;
    /*  height: 200px;*/
    position: relative;
    /*width: 200px;*/
}

.watch:hover::after {
    visibility: visible;
}

.watch img {
    /*  width: 100%*/
}

.watch::after {
    background: url(../img/edit.png) no-repeat,  rgba(255, 255, 255, 1);; 
    filter: opacity(50%); ;           
    background-position: 50% 50%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    border-radius: 50px;
   
}

.watch .avatar:hover{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.amigos img:hover{
    -webkit-filter: opacity(50%); 
    filter: opacity(50%); 
}

.badge{
    background-color: #DFC745;
}