				<meta charset="utf-8"/>
				<table class="table table-bordered table striped">
					<thead>
						<tr>
							<th>Foto</th>
							<th class="text-center col-md-2">Nome</th>
							<th class="text-center col-md-2">Email</th>
							<th class="text-center col-md-1">#</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="colab : ${colaboradores}">
							<td class="text-center"><img alt="" th:src="@{../img/jones.jpg}"/></td>
							<td class="text-center" th:text="${{colab.nome}}"></td>
							<td class="text-center" th:text="${{colab.email}}"></td>
							<td>
							<a class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-check"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>