<meta charset="utf-8" />

<div class="container">

	<!-- Modal -->
	<div class="modal fade" id="fotoUpload" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Editar imagem de perfil</h4>
				</div>

				<form id="form" method="post" th:action="@{/save_file}"
					enctype="multipart/form-data">
					<div class="form-group required">
						<label for="file" class="control-label col-sm-4  requiredField">
							*Jpg (300x300) </label>
						<div class="controls col-sm-12 text-center">
							<input class="input-md form-control" id="file" name="file"
								style="margin-bottom: 10px" type="file" />
						</div>
					</div>
				</form>

				<div class="modal-footer">
					<div class="controls col-sm-8 ">
						<button name="depositar" value="Submit" class="btn btn-success"
							id="enviar" onclick="uploadFormData()">Enviar</button>
						<button name="salvar" value="submit" class="btn btn-success"
							id="salvar" onclick="saveFileData()">Salvar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>

					<div id="result"></div>

				</div>
			</div>
		</div>
	</div>
</div>


