<meta charset="utf-8" />
<div class="col-sm-3 well">
    <div class="well">
                
        <a class="titulo watch" href="#" data-toggle="modal"
			data-target="#fotoUpload"> <img th:src="@{../img/jones.jpg}"
			class="img-circle avatar" height="75" width="75" alt="Avatar" />
		</a> <span class="nome titulo" th:text="${colaborador.nome}"></span>
           
    </div>
    <div class="well">
        <p class="trofeus"><a class="titulo" href="#"><i class="fa fa-trophy" aria-hidden="true"></i>  Troféus</a></p>
        <p>
            <span class="label label-default">1ª Colaboração</span>
            <span class="label label-default">1ª Compra</span>
            <span class="label label-primary">Comprador Master</span>
            <span class="label label-success">Amigão</span>
            <span class="label label-danger">Compartilhador</span>
        </p>
    </div>
    <div class="well">
        <p class="cartera"><a class="titulo" href="#" data-toggle="modal" data-target="#myModal"> <i class="fa fa-money" aria-hidden="true"></i> Carteira</a></p>
        <article th:if="${colaborador.idCarteira != null}" >
        <p th:text="|R$ ${{colaborador.idCarteira.saldo}}|"> </p>
        </article>
        <article th:if="${colaborador.idCarteira == null}" >
        <a class="titulo" th:href="@{./{codigo}(codigo=${colaborador.id})}">Necessario Cadastar CPF! </a>
        </article>
        
    </div>
    <div class="well amigos">
        <p><a class="titulo" href="#"> <i class="fa fa-users" aria-hidden="true"></i> Amigos <span class="badge"> +30</span> </a></p>
        <a class="" href="#"> <img th:src="@{../img/jones.jpg}" class="img-circle" height="30" width="30" alt="Avatar"/></a>
        <a class="" href="#"> <img th:src="@{../img/jones.jpg}" class="img-circle" height="30" width="30" alt="Avatar"/></a>
        <a class="" href="#"> <img th:src="@{../img/jones.jpg}" class="img-circle" height="30" width="30" alt="Avatar"/></a>
        <a class="" href="#"> <img th:src="@{../img/jones.jpg}" class="img-circle" height="30" width="30" alt="Avatar"/></a>
        <a class="" href="#"> <img th:src="@{../img/jones.jpg}" class="img-circle" height="30" width="30" alt="Avatar"/></a>
        <a class="" href="#"> <img th:src="@{../img/jones.jpg}" class="img-circle" height="30" width="30" alt="Avatar"/></a>
    </div>
    
    
    <div layout:include="./perfil/fotoUpload"></div>
    <div layout:include="./carteira/carteira"></div>
   
</div>

